<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>STONE Masternodes Dashboard</title>
  <style>.react-router-modal__modal-open{overflow:hidden}.react-router-modal__container{position:fixed;z-index:1000}.react-router-modal__wrapper{position:absolute;z-index:1}.react-router-modal__modal{position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);background-color:#fff;border-radius:5px;border:1px solid #777;opacity:0}@media only screen and (max-device-width:1024px){.react-router-modal__modal-open{position:fixed;overflow:hidden;-webkit-overflow-scrolling:touch}.react-router-modal__container{position:absolute;top:0;left:0;width:100%;height:100%;transform:translate3d(0,0,0)}}.react-router-modal__modal-in{transition:opacity .5s ease-in;opacity:1}.react-router-modal__modal-out{transition:opacity .3s ease-out;opacity:0}.react-router-modal__backdrop{background-color:#000;opacity:0;position:fixed;top:0;left:0;width:100%;height:100%}.react-router-modal__backdrop-in{transition:opacity .3s ease-in;opacity:.5}.react-router-modal__backdrop-out{transition:opacity .5s ease-out;opacity:0}</style>
</head>
<body>
  <div id="root"></div>
</body>
</html>
