<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>STONE Masternodes Dashboard</title>
  <link rel="stylesheet" href="/vendor/react-router-modal/react-router-modal.css" />
</head>
<body>
  <div id="root"></div>
</body>
</html>
